// Color Palette
$primary-bg-color: #210b49;  // Blue
$primary-font-color: #222222;  // White

$secondary-bg-color: #4f3f5c;  // Light Gray
$secondary-font-color: #6c757d;  // Dark Gray

$tertiary-bg-color: #121f2c;  // Light Gray
$tertiary-font-color: #343a40;  // Dark Gray

$header-font-color: #ffffff; 