// Color Palette
$primary-bg-color: #210b49;  // Blue
$primary-font-color: #222222;  // White

$secondary-bg-color: #e8e5ee;  // Light Gray
$secondary-font-color: #210b49;  // Dark Gray

$tertiary-bg-color: #121f2c;  // Light Gray
$tertiary-font-color: #343a40;  // Dark Gray

$header-font-color: #ffffff; 

$link-color: #1c538d;  // Blue